*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: rgba(27, 79, 114);
}
.cat{
  width: 100px;
  padding: 8px;
  font-size: 12px;
}
.catdiv{
  margin: 20px 0px;
}

.select1 {
	background:white;
	border: 1px solid rgba(27, 79, 114);
	border-radius: 10px;
	padding: 8px;
	font-size: 16px;
  width:150px;
	color:rgba(27, 79, 114);

	/* Here's the code we need */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}
.option:hover{
background-color:rgba(27, 79, 114) ;
color: white;
}

.select-wrapper {
	position: relative;	
}

.select-wrapper:after {
	font-family: FontAwesome;
  	content: '\f107';
  	font-size: 28px;
  	position: absolute;
  	top: 12px;
  	right: 20px;
  	color: #434B67;
  	pointer-events: none;
}

.select1::-ms-expand {
  display: none;
}

.select1::after {
  content: "";
  width: 0.8em; 
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
} 
.select1 {
 
  display: grid;
}
.heart{
  color: red;
  font-size: 25px;
  pointer-events: all;
  transition:all 0.2s ease-in-out;
 
}
.heart1{
	color: grey;
	font-size: 25px;
	pointer-events: all;
	transition:all 0.2s ease-in-out;
}
@keyframes animate{
	0%{
		background-position: left;
	}
	100%{
		background-position: right ;
	}
}

.modalwidth{
  width: 30%;
}
.modal-content{
  height: 300px !important;
}
.user-block-modal{
	display: flex;
		flex-direction: row;
		/* justify-content: center; */
		padding: 2rem;
		align-items: center;
		width: 32rem;
		border: 1px solid gray;
		cursor: pointer;
	
}
.user-modal-image {
	border: 1px solid gray;
		width: 35px;
		margin-right: 2rem;
		border-radius: 16px;
}
.user-name-modal{
	font-size: 2rem;
}
