*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: rgba(27, 79, 114);
}

.modalwidth{
  width: 30%;
}
.modal-content{
  height: 300px !important;
}
.modal-body{
  height: 20px;
  width: 20px;
}
